<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Destinos Vacacionales </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [debounce]="2000"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let place of places">
      <ion-img
        [src]="place.xidInfo?.preview?.source ?? '/assets/images/Simple-Image-Not-Found-Icon.png'"
      ></ion-img>
      <ion-label
        >{{place.properties.name}}<br />
        <strong>{{place.xidInfo?.address?.country}}</strong></ion-label
      >
      <ion-label>prueba</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
